
/* Navigation Bar */


/* Home section */

#home h1{
    margin: 11px 43px;
}
#home p{
    font-size: 18.8px
}


/* Services Class */
#services{
    display: flex;
    flex-direction: column;
}
#services .box{
    margin: 40px -63px;
    padding: 11px;
    
}
#services-container {
    margin: 112px 43px;
}

/* Client Services */
#clients {
    flex-wrap: wrap;
    padding: 6px 38px;
}

#client-section::before{
    height: 629px;
}
.client-item {
    padding: 24px;
}

/* Contact Section */
#contact-element {
    margin: 94px 0px;
    
}



#contact-element h1{
    margin: 104px 0px;
}
#contact-box {
    
    width: 100%;
    
}


/* Utility Class */
.h-primary {
    font-size: 2.8rem;
}