/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Navigation Bar */

.navbar-text {
    font-size: 1.2rem;
}

/* Home section */
#home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url('../img/veg_black_fruit.jpeg');
    justify-content: center;
    align-items: center;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#home p {
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 1.5rem;
    text-align-last: center;
}

/* Services classes */

#services {
    display: flex;
    margin: 34px;
}

#services .box {
    border: 2px solid brown;
    margin: 1px 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: #fbf3f3;
}

#services .box img {
    height: 191px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'Playfair Display', serif;
}

/*Client Services */
#client-section {

    height: 100%;
}

#client-section::before{
    content: "";
    position: absolute;
    background-image: url(../img/back_ground.webp);
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    height: 280px;
    width: 100%;
    z-index: -1;
    opacity: .4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 43px;
}

#clients img {
    height: 80px;
    width: 93px;
}

/* Contact Section */

#contact-element::before {
    content: "";
    position: absolute;
    margin: 9px 0px;
    left: 0px; 
    z-index: -1;
    opacity: .4;
}
#contact-box{
        padding: 15px;
        background-color: rgb(107, 108, 202);
        max-width: 648px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        padding-right: 60px;
        
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .5rem;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem
}



/* footer part */

footer {
    font-weight: 20px;
    color: white;
    background-color: black;
    padding: 3px;
    position: static ; /*relative;*/
    margin-bottom: 0;
}


/* utility classes */

.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Playfair Display', serif;
}

.h-secondary {
    font-size: 1.2rem;
    padding: 12px;
    font-family: 'Playfair Display', serif;
}

.center {
    text-align: center;
}

.btm {
    font-size: 1.2rem;
    padding: 4px 20px;
    border: 1px solid white;
    border-radius: 17px;
    background-color: rgb(38, 41, 197);
    color: white;
    margin: 20px;
}

.btm:hover {
    color: black;
    background: white;
    cursor: pointer;
}